@page "{restaurantId:int}"
@model OdeToFood.DeleteModel
@{
    
}

<h2>Deleting @Model.Restaurant.Name !</h2>
<div class="alert alert-danger">
    Are you sure ?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-page="List" class="btn btn-default">Cancel</a>
</form>
